<div  class="dice-list__container list" ng-controller="diceGamesetupCtrl">
    <div class="dice-navigation-bar">
        
     
    </div>


     <div class="dice-menu-bar">
         <div style="margin-top:60px;display:block;">
             &nbsp;&nbsp;<br><br>
         </div>
         
         <div class="cnn-menu-bar"  ng-click="slidePage('/diceviewc1')">
             
             
         </div>
         
         <div class="bdx-menu-bar">
             
             
         </div>
    
    
    </div>


</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>