<div  class="dice-list__container list" >
    <div class="dice-navigation-bar">
    </div>


<div ng-controller="diceGamesetup3Ctrl">
<div CLASS="dice-area">
    <img src="{{ dice1 }}"/>
    <img src="{{ dice2 }}"/>
    <img src="{{ dice3 }}"/>
    <img src="{{ dice4 }}"/>
    <img src="{{ dice5 }}"/>
    <img src="{{ dice6 }}"/>
   
    
</div>

<div class="dice-menu-bar-start" >
    
    <div class="roll-button-icon">
    
    </div>
    <div class="dice-menu-open-btn" ng-click="senddicenum()">
       
        
    </div>
</div>

</div>

</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>