<div class="dmxbg2">

<div  class="dmxbackicon" ng-click="slidePage('/dmxview')">
    &nbsp;&nbsp;&nbsp;
  
</div>

<div class="pad" ng-controller="getdmxCtrl">
    <div class="centerize">
    <div style="margin-top:120px;width:320px;margin-left:-20px;" >
    
<lable class="topcoat-text-input"  >

{{itemsmx.title}}

</lable><br><br>


<lable  style="width:160px; height:60px;text-align:center; display:inline-block;  -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #a5a8a8;
    background-color: #e5e9e8;color: #454545;overflow:scroll;">
  {{itemsmx.content}}
  
</lable>
    </div>
    
    
      <div style="margin-top:160px;"><a class="dmxagicon" ng-click="alertdmxNotify()">
          
      &nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>

</div>
</div>
