<div class="nophonegamebg" ng-controller="nophonestep1Ctrl" >
<div class="nophonemain" >
    
     <div  class="nophonepic1" >
        &nbsp;&nbsp;&nbsp;
     </div>
    
     <div  class="nophonepic2" >
        &nbsp;&nbsp;&nbsp;
    </div>
   
   
   <div class="npbottomNav">
<!-- <lable class="topcoat-text-input">{{message}}</lable>-->
<!--<a class="topcoat-button--cta" ng-click="onlinenum()">查看当前人数</a>-->
    <a class="np-button--bg" ng-click="startgo()"><a class="np-button--icon1" ng-click="startgo()"></a></a><br><br>
   
   </div>
    </div>


</div>
