<div class="nophonegamebg">
    <div class="pad" ng-controller="nophoneGameCtrl">
        
        <div  class="nophonebackicon" ng-click="exitnophone()">
            &nbsp;&nbsp;&nbsp;
            
        </div>
        
        
        <div class="centerize">
            
            <p><a class="topcoat-button--cta" >{{value}}</a></p>
            
            
            <a class="topcoat-button--cta" ng-click="startgo()">开始</a>
            
            <!--
             <a class="topcoat-button--cta" ng-click="startgo()">开始</a>
             <a class="topcoat-button--cta" ng-click="stopgo()">停止</a>
             <a class="topcoat-button--cta" ng-click="npscorelist()">排名查看</a>
             <a class="topcoat-button--cta" ng-click="onlinenum()">查看在线人数</a>-->
            
            
            
            
        </div>
        
        
    </div>
