<!--<div class="topcoat-navigation-bar" ng-controller="Exithome">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="exhome()">
            <<
        </a>
    </div>

</div>-->
<div class="gamedatingbg">

<div class="new-text-input" ng-controller="LoginRoomCtrl">
   
   <lable class="topcoat-text-input" style="padding-top:40px;"
        ng-click="slidePage('/viewuserlist','modal')"
        
        ng-show="message">{{ message }}局 查看所有用户
   
    </lable>
    
</div>

<div ng-controller="AnonymousChatCtrl">
    
<div class="anonymousarea" ng-click="loadItem(item)">

<lable style="text-align:left;margin-left:22px;float:left;display:block;width:270px;padding:5px;" ng-repeat="item in items" ng-click="loadItem(item)">
 <b>{{item.username}}</b>{{item.message}}<br>
</lable><br>

</div>

</div>



<div class="gameiconarea"  ng-controller="NavtoGameCtrl">
    <div class="topcoat-button-cbs" ng-click="slidePage('/cbsview')">
    <span style="width:70px;display:block;margin-top:70px;">猜比赛</span></div>
    <div class="topcoat-button-dmx" ng-click="slidePage('/dmxview')">
    <span style="width:70px;display:block;margin-top:70px;">大冒险</span></div>
    <div class="topcoat-button-nophone" ng-click="gotonophone()">
    <span style="width:70px;display:block;margin-top:70px;">NOPHONE</span></div>
    <div class="topcoat-button-jgch" ng-click="gotojgch()">
    <span style="width:70px;display:block;margin-top:70px;">击鼓传花</span></div>
    <div class="topcoat-button-dice" ng-click="gotodice()">
        <span style="width:70px;display:block;margin-top:70px;">摇骰子</span></div>
    
    
</div>

    
</div>
