<div class="nophonegamebg">
<div class="centerize" ng-controller="nophoneGameCtrl">
        
        <div class="nophonebackicon" ng-click="exitnophone()"></div>
        
         <div class="nophonepic1"></div>
         
         <div class="nophonepic2"></div>
         
         <a class="topcoat-button--cta" >游戏编号 {{g_gamenum}}</a><br>
         
         <a class="topcoat-button--cta" >{{value}}</a><br>
         
        <a class="topcoat-button--cta" ng-click="">开始</a>
        
        <a class="topcoat-button--cta" ng-click="">停止</a>
        
        <a class="topcoat-button--cta" ng-click="onlinenum()">查看在线人数</a>
        
        <a class="topcoat-button--cta" ng-click="">排名</a>
     
   
   </div>
</div>
