<div class="cbsbgg">

<div class="new-navigation-bar" ng-controller="HomeCtrl">
    <div class="new-navigation-bar__item left quarter">
    <a style="margin-top:10px;"class="new-button" ng-click="slidePage('/cbsview2')">
            <
                </a>
                </div>
    <div class="new-navigation-bar__item center half">
        <h1 class="new-navigation-bar__title">搜索 已结束比赛</h1>
    </div>
    <div class="new-navigation-bar__item right quarter">
        
    </div>
</div>


<div ng-controller="SearchTeamCtrl2">

<input
    type="search"
    value=""
    placeholder="搜索球队"
    ng-model="formData.teamname"
    name="teamname"
    required
    class="topcoat-search-input"/>
    
    <div class="cbs-icon-button" ng-click="search()">确定</div>
    
   
   <ul class="pp-topcoat-list">
       <li class="pp-topcoat-list__item" ng-repeat="item in items" ng-click="loadItem(item)">
           
           {{item.gameevents}} {{item.date}} {{item.time}}<br>
           
           {{item.hometeam}}
           
           {{item.visitingteam}}<br>
           
           比赛结果:{{item.gameoutcome}}
       </li>
   </ul>

    
</div>




</div>
